name: Release

on:
  release:
    types: [published]

jobs:
  sfu:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./sfu

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
    - name: Publish
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      run: |
        cargo publish

  client:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'
        registry-url: 'https://registry.npmjs.org'
    - name: Copy README
      run: |
        cp README.md ./rheomesh/
        cp ../LICENSE ./rheomesh/
    - name: Install dependencies
      run: |
        yarn install
    - name: Build
      run: |
        yarn workspace rheomesh run build
    # refs: https://github.com/actions/setup-node/issues/942#issuecomment-1920476219
    - name: Authentication
      run: |
        echo npmAuthToken: "$NODE_AUTH_TOKEN" >> ./.yarnrc.yml
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    - name: Publish
      run: |
        yarn workspace rheomesh npm publish
